<!DOCTYPE html>
<html lang="en">
  <head>
      {{>headerlinks}}
  </head>
  <body>
    {{>navbar}}
    <!-- Main header -->
    <div class="container_fluid main_header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
            <!-- left side div -->
            <div class="col-md-6 col-12 main_header_right align-items-center">
              <figure>
                <img
                  src="images/about.jpg"
                  class="img-fluid"
                  alt="haris"
                  title="Khattak-Weather"
                />
              </figure>
            </div>
            <div class="col-md-6 col-12 main_header_left">
              <p>Welcome to Khattak Weather app</p>
              <h1>
                I Am A <span class="text_clr"> Front-End Developer </span>And
                Java Instructor
              </h1>
              <a href="https://harisdeveloper10101.netlify.app/" target="_haris"
                ><button>ABOUT ME</button></a
              >
            </div>
            <!-- rigth side div -->
          </div>
        </div>
      </div>
    </div>
    <!-- Footer -->
    {{>footer}}
  </body>
</html>
